pymongo==3.11.4
mathparse==0.1.2
ping==0.17
nltk==3.6.2
python_dateutil==2.7.5
sqlalchemy==1.2.19
pyyaml==3.13
packaging==20.9
regex==2021.4.4
joblib==1.0.1
tqdm==4.61.1
six==1.16.0
pyparsing==2.4.7
jinja2==3.0.1
fastapi==0.65.2
uvicorn==0.11.8
chatterbot==1.0.4